# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Virtual environments
venv/
.env/
env/
.venv/

# IDE and editor settings
.vscode/
.idea/

# Unit test / coverage reports
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# data
/data/*
